/build

*__pycache__
*.html
*.pyd
*.so

/cgrad/tensor.c
/cgrad/optium/basic_ops.c
/cgrad/autograd/calcgrad.c
/cgrad/autograd/grad_funcs.c
/cgrad/autograd/graph.c

/CGrad.egg-info
/.vscode
.pytest_cache
/examples/temp.py
/.idea
/dist
